.card {
  width: 180px;
  height: 280px;
  padding: 16px;
  border-radius: 10px;
  background-color: #3a384199;
  display: flex;
  gap: 24px;
  flex-direction: column;

  &__img-container {
    width: 180px;
    height: 200px;
    border-radius: 4px;
    position: relative;
    background: linear-gradient(90deg, #fe5a5a, #f163d2);
    .card__img {
      position: absolute;
      bottom: 0;
      display: flex;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    color: white;
  }

  &__category-tag {
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 5px 10px;
    border-radius: 4px;
    background: aliceblue;
    font-family: 'INTER';
    font-size: 12px;
    color: white;
    background: #313b4580;
  }

  &__favorite {
    position: absolute;
    top: 8px;
    right: 8px;
    svg {
      fill: white;
    }
  }

  &-price {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 10px;

    gap: 5px;
    span {
      width: 60px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &-name {
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Inter';
    width: 100px;
  }

  &-author {
    display: flex;
    gap: 12px;
    align-items: center;
    span {
      font-family: 'Inter';
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 140px;
      color: white;
    }
  }
}
