.header {
  background-image: url(./../assets/images/header-background.jpeg);
  height: 654px;
  background-repeat: no-repeat;
  background-size: 100%;

  &__layer {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
  }

  &-footer {
    position: absolute;
    bottom: 0;
    display: flex;
  }

  &__card-list {
    position: absolute;
    display: flex;
    bottom: 0;
    gap: 80px;
    bottom: 25px;
    left: 75px;
  }
}
