.header {
  background-image: url(./../assets/images/header-background.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;

  &-footer {
    padding-top: 100px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__card-list {
    position: absolute;
    display: flex;
    bottom: 0;
    gap: 80px;
    bottom: 25px;
    left: 75px;
  }
}
