@import './dashBoardPage.scss', './navigation.scss', './header.scss',
  './body.scss', './footer.scss', './listCard.scss', './card.scss',
  './filterSection.scss', './silderSection.scss', './cardHeader.scss',
  './cardDisplay.scss', './headerTag.scss';

@font-face {
  font-family: 'Drone Ranger Pro';
  src: url('../assets/fonts/dronerangerpro_black.otf') format('opentype');
  font-weight: 900; /* or bold if applicable */
  font-style: normal; /* or italic if applicable */
}

@font-face {
  font-family: 'Drone Ranger Pro';
  src: url('../assets/fonts/dronerangerpro_bold.otf') format('opentype');
  font-weight: 700; /* or bold if applicable */
  font-style: normal; /* or italic if applicable */
}

@font-face {
  font-family: 'Drone Ranger Pro';
  src: url('../assets/fonts/dronerangerpro_condensed.otf') format('opentype');
  font-weight: 400; /* or bold if applicable */
  font-style: normal; /* or italic if applicable */
}

body {
  margin: 0;
  font-family: 'Drone Ranger Pro';
}
