.list-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;

  &__category {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
  }

  &__content {
    max-height: 1400px;
    overflow-y: scroll;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    .msg-container {
      height: 400px;
      display: flex;
      align-items: center;
      color: white;
      font-family: 'Inter';
      font-size: 30px;
    }
  }
}
@media (max-width: 1440px) {
  .list-card {
    width: 100%;
  }
}
